/*--------------------------
      Maps
--------------------------*/
.map-card {
    position: absolute;

    &:first-of-type {
        top: 18%;
        left: 36%;
    }

    &:nth-of-type(2) {
        top: 31%;
        left: 16%;
    }

    &:nth-of-type(3) {
        top: 72%;
        left: 30%;
    }

    &:nth-of-type(4) {
        top: 13%;
        left: 77%;
    }

    &.show {
        .map-card-inner {
            opacity: 1;
            visibility: visible;
        }
    }

    &:hover,
    &.show {
        .map-pointer {
            background-color: rgba(228, 164, 0, .8);
            box-shadow: 0 0 0 29px rgba(228, 164, 0, .8);

            &:before {
                background-color: var(--color-white);
            }
        }

        .pointer-arrow:after {
            opacity: 1;
        }
    }
}

.map-pointer {
    position: relative;
    cursor: pointer;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: rgba(228, 164, 0, .3);
    @include prefix(transition, all 0.3s ease-in-out, webkit moz ms o);

    &:hover {
        +.map-card-inner {
            opacity: 1;
            visibility: visible;
        }
    }

    &:before,
    &:after {
        content: '';
        position: absolute;
        border-radius: 50%;
        @include prefix(transition, all 0.3s ease-in-out, webkit moz ms o);
    }

    &:before {
        width: 22px;
        height: 22px;
        top: 7px;
        left: 7px;
        background-color: rgba(228, 164, 0, .4);
    }

    &:after {
        width: 8px;
        height: 8px;
        top: 14px;
        left: 14px;
        z-index: 1;
        background-color: var(--color-secondary);
    }

    &:hover {
        &:before {
            background-color: var(--color-white);
        }
    }

    .pointer-arrow:after {
        content: '';
        position: absolute;
        top: 33px;
        left: 18px;
        opacity: 0;
        border-right: 10px solid transparent;
        border-bottom: 10px solid var(--color-white);
        @include prefix(transition, all 0.3s ease-in-out, webkit moz ms o);
    }
}

.map-card-inner {
    --card-width: 400px;
    position: absolute;
    top: 43px;
    left: -145px;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    border-radius: 4px;
    width: var(--card-width);
    background-color: var(--color-white);
    box-shadow: 0px 5px 83px 0px rgba(1, 34, 23, 0.12);
    @include prefix(transition, all 0.3s ease-in-out, webkit moz ms o);

    .map-card-img {
        flex: 0 0 130px;

        img {
            border-radius: 4px 0 0 4px;
        }
    }

    .map-card-body {
        padding: 26px 30px 28px;
        flex: 1;
    }

    .map-card-title {
        font-size: 19px;
        margin-bottom: 3px;
    }

    .map-card-desc {
        margin-bottom: 5px;
    }

    .btn-primary {
        color: var(--color-primary);

        &:hover {
            color: var(--color-secondary);
        }
    }
}

.banner-map-layout2 {
    .map-pointer {
        background-color: rgba(26, 126, 0, 0.3);

        &:before {
            background-color: rgba(26, 126, 0, 0.4);
        }

        &:after {
            background-color: var(--color-primary);
        }
    }

    .map-card:hover,
    .map-card.show {
        .map-pointer {
            background-color: rgba(26, 126, 0, 0.8);
            box-shadow: 0 0 0 29px rgba(26, 126, 0, 0.8);
        }
    }

    .col-inner {
        max-width: 670px;
    }
}

@media(max-width:767px) {
    .map-card {
        &:nth-of-type(4) {
            .map-card-inner {
                left: auto;
                right: -50px;
            }
        }

        .map-card-inner {
            --card-width: 270px;
            left: -60px;

            .map-card-img {
                display: none;
            }

            .map-card-body {
                padding: 12px 15px;
            }

            .map-card-title {
                font-size: 16px;
            }

            .map-card-desc,
            .btn-link {
                font-size: 14px;
            }
        }
    }
}