/*------------------------
    Slider 
--------------------------*/
.header-transparent {
    +.slider {
        margin-top: -100px;
    }

    &.header-full+.slider {
        margin-top: -135px;
    }
}

.header-transparent {
    +.slider .slide-item {
        padding-top: 100px;
    }
}

.slider {
    padding: 0;

    .slide-item {
        min-height: 550px;
        height: calc(100vh - 160px);

        &.bg-overlay {
            &:before {
                background-color: rgba(1, 34, 23, 0.25);
                background-position: 0 0;
                background-size: 100% 100%;
                background-repeat: no-repeat;
                background-image: url(../images/patterns/5.png);
            }

            &:after {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: -1;
                opacity: 0.7;
                background-image: -webkit-linear-gradient(to bottom, var(--color-primary-700) 0%, #072c20 19%, rgba(18, 34, 29, 0) 65%, rgba(27, 26, 26, 0) 100%);
                background-image: -moz-linear-gradient(to bottom, var(--color-primary-700) 0%, #072c20 19%, rgba(18, 34, 29, 0) 65%, rgba(27, 26, 26, 0) 100%);
                background-image: -ms-linear-gradient(to bottom, var(--color-primary-700) 0%, #072c20 19%, rgba(18, 34, 29, 0) 65%, rgba(27, 26, 26, 0) 100%);
                background-image: -o-linear-gradient(to bottom, var(--color-primary-700) 0%, #072c20 19%, rgba(18, 34, 29, 0) 65%, rgba(27, 26, 26, 0) 100%);
                background-image: linear-gradient(to bottom, var(--color-primary-700) 0%, #072c20 19%, rgba(18, 34, 29, 0) 65%, rgba(27, 26, 26, 0) 100%);
            }
        }
    }

    .slide-subtitle {
        display: inline-block;
        color: var(--color-white);
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 8px;

        &.highlighted {
            padding: 5px 13px;
            border-radius: 10px;
            background-color: var(--color-secondary);
        }
    }

    .slide-title {
        color: var(--color-white);
        margin-bottom: 25px;
    }

    .slide-desc {
        color: var(--color-gray-100);
        max-width: 600px;
        margin-bottom: 30px;
    }

    .slick-arrow {
        &:before {
            width: 50px;
            height: 50px;
            color: rgba(255, 255, 255, 0.5);
            background-color: transparent;
        }

        &:hover {
            &:before {
                color: var(--color-white);
            }
        }

        &.slick-next:before {
            content: "\e9d7";
        }

        &.slick-prev:before {
            content: "\e9d6";
        }
    }

    .slick-dots {
        position: absolute;
        bottom: 30px;
        text-align: center;
        width: 100%;
    }

    .cta-banner {
        padding: 50px;

        .cta-icon {
            font-size: 50px;
            line-height: 1;
            color: var(--color-primary);
            margin-bottom: 28px;
        }

        .icon-filled {
            background-color: var(--color-secondary);
        }

        .slick-dots {
            position: static;
            text-align: left;
            margin-left: -17px;
        }
    }
}

.slider-centerd {
    text-align: center;

    .slide-desc {
        margin-right: auto;
        margin-left: auto;
    }
}

@media (min-width:1200px) {
    .slider {
        .slide-title {
            font-size: 75px;
            line-height: 1.1;
            font-weight: 700;
        }

        .slide-desc {
            font-size: 17px;
            line-height: 1.5;
            font-weight: 700;
        }

        .slick-arrow {
            &:before {
                font-size: 50px;
            }
        }

        .btn {
            min-width: 190px;

            &.btn-outlined {
                line-height: 58px;
            }

            &.btn-xl {
                min-width: 225px;
            }
        }
    }

    .slider-layout2 .slide-title {
        max-width: 680px;
    }
}

@media (min-width: 1400px) {
    .slider .slick-arrow {
        &.slick-prev {
            left: 30px;
        }

        &.slick-next {
            right: 30px;
        }
    }
}

@media (min-width: 1200px) {
    .slider-centerd .slick-slide {
        padding-bottom: 70px;
    }
}

@media(min-width:768px) and (max-width:1200px) {
    .slider {
        .slide-item {
            padding-right: 50px;
            padding-left: 50px;
        }

        .slick-arrow {
            &.slick-prev {
                left: 10px;
            }

            &.slick-next {
                right: 10px;
            }
        }
    }
}

/* Large Size Screens */
@include lg-screens {
    .slider .slide-title {
        font-size: 65px;
    }
}

/* Medium Size Screens */
@include md-screens {
    .slider {
        .slide-title {
            font-size: 50px;
            margin-bottom: 10px;
        }
    }
}

/* Mobile Phones and tablets */
@include xs-sm-screens {
    .header-transparent+.slider {
        margin-top: 0 !important;
    }

    .slider {
        .slide-item {
            min-height: 0;
            padding: 100px 10px;
            height: auto !important;
        }

        .slide-desc {
            font-size: 15px;
            font-weight: 400;
            margin-bottom: 20px;
        }

        .slick-arrow {
            &:before {
                font-size: 25px;
            }

            &.slick-next {
                right: -20px;
            }

            &.slick-prev {
                left: -20px;
            }
        }
    }
}

/*  Small Screens and tablets  */
@include sm-screens {
    .slider {
        .slide-title {
            font-size: 35px;
            line-height: 45px;
            margin-bottom: 10px;
        }
    }
}

/* Extra Small Devices */
@include xs-screens {
    .slider {
        .slide-title {
            font-size: 30px;
            margin-bottom: 10px;
        }

        .btn {
            padding: 0 10px;
            margin-bottom: 10px;
        }

        .slide-item {
            padding: 120px 10px 50px;
        }
    }
}