// Sass Variables
$color-primary: #1a7e00;
$color-secondary: #e4a400;
$color-primary-rgb: 26, 126, 0;
$color-secondary-rgb: 0, 38, 120;
$color-accent: #00226c;
$color-default: #677a74;
$color-dark: #222222;
$color-black: #000000;
$color-gray: #f9f9f9;
$color-white: #ffffff;
$color-light: #6d6fb3;

$font-heading: 'Fira Sans',
  sans-serif;

$font-body: 'Roboto',
  sans-serif;